html {
    height: 100%;
}

body {
    font-size: medium;
    font-family: 'Droid Sans', sans-serif;
}

/*
nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    padding: 0.5em;
    font-size: x-large;
}

nav > a {
    text-decoration: none;
    margin-right: 1em;
    position: relative;
    color: black;
}

nav > a:hover {
    color: gray;
}
*/

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #111;
}

#logo {
    width: 8%;
    vertical-align: middle;
    float: left;
}

.reference-list {
    display: block;
    list-style-type: none;
    margin: 2em 4em;
    padding: 0;
    overflow: hidden;
    font-size: 1.3em;
}